<div class="container-fluid background-image2">
	<div class="row" style="text-align: center;padding: 30px 0;">
		<h2><span class="border">ネット予約について</span></h2>
		<h4 style="padding: 20px 0;">↓築地寿司の予約は以下の手順で行われます↓</h4>
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<div class="col-xs-4"style="padding: 0 5px;">
				<div class="box1">
					<h3>STEP1</h3>
					<%= image_tag 'image14.jpg',size:'250x150',class: ''%>
					<h4 class="about-font">予約したい日付・時間帯・人数を選んで入力し、その際、選ばれた日付に応じて予約可能な時間帯と人数は絞られて表示されます。</h4>
				</div>
			</div>
			<div class="col-xs-4"style="padding: 0 5px;">
				<div class="box2">
					<h3>STEP２</h3>
					<%= image_tag 'image12.jpg',size:'250x150',class: ''%>
					<h4 class="about-font">その他に名前、電話番号、メールアドレスを入力し確認ボタンを押してください。＊記念日やアレルギーなどについてはご要望欄にてお願いします。</h4>
				</div>
			</div>
			<div class="col-xs-4"style="padding: 0 5px;">
				<div class="box3">
					<h3>STEP３</h3>
					<%= image_tag 'image13.jpg',size:'250x150',class: ''%>
					<h4 class="about-font">入力確認画面にて入力内容を確認し、予約を確定してください。</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-2"></div>
	</div>
</div>