<div class="container background-image2">
	<div class="row">
		<div class="kodawari-title">
			<h1 class="kodawari-title-font">こだわり</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6"style="padding:20px 0; text-align: center;">
			<h1 class="kodawari-font"><%= image_tag 'logo.png',size:'40x40',class: 'kodawari-logo'%>仕入れ</h1>
			<h3 class="kodawari-font">世界最大の魚市場、</h3>
			<h3 class="kodawari-font">東京中央卸売市場に築地寿司はこだわります。</h3>
			<h3 class="kodawari-font">日本各地から集まった一級品の中から、</h3>
			<h3 class="kodawari-font">慧眼をもって最高の素材を選び抜く。</h3>
			<h3 class="kodawari-font">これが築地寿司のこだわりです。</h3>
		</div>
		<div class="col-xs-6"style="padding:20px 0;" id="box3">
			<div class="kodawari-image2"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6"style="padding:20px 0;" id="box4">
			<div class="kodawari-image"></div>
		</div>
		<div class="col-xs-6"style="padding:20px 0; text-align: center;">
			<h1 class="kodawari-font"><%= image_tag 'logo.png',size:'40x40',class: 'kodawari-logo'%>握り</h1>
			<h3 class="kodawari-font">すしは、味はもとより、見た目の美しさや握りの所作も、おいしさのひとつになります。</h3>
			<h3 class="kodawari-font">伝統的な江戸前スタイルに、アーティストともいえる繊細な職人技を加えて、ひとつひとつ愛情をこめて握る。</h3>
			<h3 class="kodawari-font">ネタ・シャリ・わさびの三位一体。お客様が口にされたときのバランスを考えて、温度・湿度・熟成には人一倍こだわってご提供いたします。</h3>
		</div>
	</div>
</div>
<script type="text/javascript">

$(function() {

	$("#box3").animate( { width: 'show' }, 2000 );
  	$("#box4").animate({ width: 'show' }, 2000 );
});

</script>
