<div class="container background-image">
	<div class="row">
	    <div class="store-title">
	      	<h1 class="store-title-font">店舗案内</h1>
	    </div>
    </div>
    <div class="row">
    	<div class="col-xs-0 col-lg-2"></div>
	    <div class="col-xs-12 col-lg-4 store-resp">
	    	<h3 class="store-font"><span class="border">住所</span></h3>
	    	<h4>〒150-0041<br>東京都渋谷区神南１丁目１９−１１ パークウェースクエア24階　<a href="https://goo.gl/maps/8cfDzHiNGJSxUL1CA">GoogleMap</a></h4>
	    	<h4 class="store-font">渋谷駅ハチ公前より徒歩7分</h4>
	    	<h3 class="store-font"><span class="border">電話番号</span></h3>
	    	<h4>000-0000-0000</h4>
	    	<h3 class="store-font"><span class="border">定休日</span></h3>
	    	<h4>毎週日曜日</h4>
	    </div>
	    <div class="col-xs-12 col-lg-4 store-resp">
	    	<h3 class="store-font"><span class="border">営業時間</span></h3>
	    	<h4>ランチ<br>11：00～15：00（L.O 14：30）</h4>
	    	<h4>ディナー<br>17：00～22：00（L.O 21：30）</h4>
	    	<h3 class="store-font"><span class="border">座席数</span></h3>
	    	<h4>カウンター 10席（貸切可）</h4>
	    </div>
	    <div class="col-xs-0 col-lg-2"></div>
    </div>
    <div class="row">
    	<div class="col-xs-0 col-lg-2"></div>
    	<div class="col-xs-11 col-lg-8">
    		<div id="map" class="store-map"></div>
    	</div>
    	<div class="col-xs-1 col-lg-2"></div>
    </div>
</div>
<!-- 地図 -->
<script>
    function initMap() {
    	// 住所を指定する
	    var opts = {
	        zoom: 15,
	        center: new google.maps.LatLng(35.662804,139.699474)
      	};
      	// 地図を表示する
      	var map = new google.maps.Map(document.getElementById("map"), opts);
      	// マーカーの住所を指定する
      	var latlng = new google.maps.LatLng(35.662804,139.699474);
      	// マーカーを置く
		new google.maps.Marker({
		  position: latlng,
		  map: map
		});
    }
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['KEY'] %>&callback=initMap" async defer></script>
