<div class="container-fluid background-image4">
	<div class="row" style="padding-top: 50px;">
	    <h2 class="reservation-title"><span class="border">ご予約はキャンセルいたしました</span></h2>

	    <h2 class="reservation-font">またのご利用をお待ちしております!</h2>
	</div>
</div>