<div class="container-fluid background-image4">
	<div class="row" style="text-align: center;padding-top: 50px;">
	    <h2><span class="border">ご予約はキャンセルいたしました</span></h2>

	    <h2 style="padding-top: 60px;">またのご利用をお待ちしております!</h2>
	</div>
</div>