<div class="container-fluid background-image2">
	<div class="row" style="text-align: center;padding: 30px 0;">
		<h2><span class="border">ネット予約について</span></h2>
		<h4 style="padding: 20px 0;">↓築地寿司の予約は以下の手順で行われます↓</h4>
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<div class="col-xs-3 box1">
				<h3>STEP1</h3>
				<%= image_tag 'image14.jpg',size:'250x150',class: ''%>
				<h4 class="about-font">予約したい日付・時間帯・人数を選んで入力し、その際、選ばれた日付に応じて予約可能な時間帯と人数は絞られて表示されます。</h4>
			</div>
			<div class="col-xs-3 box2">
				<h3>STEP２</h3>
				<%= image_tag 'image12.jpg',size:'250x150',class: ''%>
				<h4 class="about-font">その他に名前、電話番号、メールアドレスを入力し確認ボタンを押してください。＊記念日やアレルギーなどについてはご要望欄にてお願いします。</h4>
			</div>
			<div class="col-xs-3 box3">
				<h3>STEP３</h3>
				<%= image_tag 'image13.jpg',size:'250x150',class: ''%>
				<h4 class="about-font">入力確認画面にて入力内容を確認し、予約を確定してください。</h4>
			</div>
		</div>
		<div class="col-xs-2"></div>
	</div>
	<div class="row about-text">
		<h2 style="text-align: center;"><span class="border">予約の管理について</span></h2>
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<div class="col-xs-6">
				<h3>　<span class="border">予約一覧</span></h3>
				<div class="box4">
					<h3 class="about-font2">　<span class="border2">ボタン</span></h3>
					<h4>・新着予約　当日に新しく追加された予約を表示</h4>
					<h4>・本日予約　当日に入っている予約を全て表示</h4>
					<h4>・予約全部　登録されている全ての予約を表示</h4>
					<h4>・予約追加　予約の登録画面を表示</h4>
					<h3>　<span class="border2">検索機能</span></h3>
					<h4>・日付と時間帯で検索をすることができます</h4>
					<h4>・日付　カレンダーの日付をクリック</h4>
					<h4>・時間帯　1日、ランチ、ディナーから選べます</h4>
				</div>
			</div>
			<div class="col-xs-6">
				<h3>　<span class="border">その他のページ</span></h3>
				<div class="box4">
					<h3 class="about-font2">　<span class="border2">予約追加</span></h3>
					<h4>・上の手順で予約を追加できます</h4>
					<h3 class="about-font2">　<span class="border2">予約詳細</span></h3>
					<h4>・予約の詳細な内容を確認できます</h4>
					<h3 class="about-font2">　<span class="border2">予約編集</span></h3>
					<h4>・予約内容を編集することができます</h4>
					<h3 class="about-font2">　<span class="border2">予約削除</span></h3>
					<h4>・予約を削除することができます</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-2"></div>
	</div>
	<div class="row about-text">
		<h2 style="text-align: center;"><span class="border">お知らせの管理について</span></h2>
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<div class="col-xs-6">
				<div class="box4">
					<h3 class="about-font3">　<span class="border2">投稿</span></h3>
					<h4 class="about-font">・投稿するには必ずタイトルを入れてください</h4>
					<h4 class="about-font">・画像も一緒に投稿することができます</h4>
					<h4 class="about-font">・内容は最大で200文字まで投稿することができます</h4>
					<h3 class="about-font3">　<span class="border2">一覧</span></h3>
					<h4 class="about-font">・全てのお知らせを確認できます</h4>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="box4">
					<h3 class="about-font3">　<span class="border2">詳細</span></h3>
					<h4 class="about-font">・お知らせの詳細な内容を確認できます</h4>
					<h3 class="about-font3">　<span class="border2">編集</span></h3>
					<h4 class="about-font">・お知らせ内容を編集することができます</h4>
					<h3 class="about-font3">　<span class="border2">削除</span></h3>
					<h4 class="about-font">・お知らせを削除することができます</h4>
				</div>
			</div>
		</div>
	</div>
</div>