/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";

/* 全体背景 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-image: image-url("background.jpg");
  background-size: cover;
  font-family: heisei-mincho-std, Noto Serif JP,sans-serif;
}

.background-image{
  background-image: image-url("background2.jpg");
}

.background-image2{
  background-image: image-url("background4.jpg");
}

.nav-list {
  text-align: center;
  padding-top: 20px;
}

button, input, optgroup, select, textarea {
  color: black;
  font: inherit;
  margin: 0;
}

/* kaminari */

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  background-color: transparent;/*背景色を打ち消す*/
}

.pagination>li>a:hover{
  border-radius: 15px; /*角を丸くする*/
  color: #696969;   /*文字の色を変える*/
  background-color: white;
}

.pagination > .active > a{
  color: #696969;   /*文字の色を変える*/
  background-color: transparent;/*背景色を打ち消す*/
}

.pagination > .active > a:hover{
  border-radius: 15px;/*角を丸くする*/
  color: #696969;   /*文字の色を変える*/
  background-color: white;
}

.kaminari{
  font-size: 20px;
  text-align: center;
}


/* 文字関係 */

.border{
  border-bottom: solid 3px #ffffff;
}

.border2{
  border-bottom: solid 2px black;
}

/* ヘッダー */

.flex{
  display: flex;
  justify-content: space-between;
}
.flex-item{
  order: -1;
}

.nav-logo{
  padding-top: 10px;
}

/* ハンバーガーメニュー */

#nav-drawer {
  order: 3;
  padding-top: 35px;
  position: relative;/*positionの基準になる。無ければbodyが基準になる*/
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;/*高さなどを指定できない要素にいれてあげる*/
  width: 30px;
  height: 22px;
  vertical-align: middle;/*中央揃え*/
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;/*絶対位置を指定*/
  height: 3px;/*線の太さ*/
  width: 40px;/*長さ*/
  border-radius: 3px;/*ボーダーの角*/
  background: #ffffff;
  display: block;/*縦に並ばせる為*/
  content: '';/*spanタグに必要な要素*/
  cursor: pointer;/*リンクカーソル*/
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  right: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  opacity: 0;/*透明度*/
  transition: .3s ease-in-out;/*動き*/
}

/*中身*/
#nav-content {
  overflow: auto;/*表示修正*/
  position: fixed;/*表示を固定する*/
  top: 0;
  right: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: rgba(0, 0, 0, 0.8);/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(105%);
  transform: translateX(105%);/*右に隠しておく*/
  padding-top: 60px;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: 0;/*透明度*/
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 0 0 0 ;/*1,左右 2,上下 3,ぼかし 4,大きさ 5,(色)*/
}

.nav-item{
  text-align: center;
  padding: 15px;
}

.nav-item2{
  text-align: center;
  padding-top: 350px;
}

.nav-font{
  color: #ffffff;
  font-size: 15px;
}

/* フッター */
.footer{
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 170px;
  text-align: center;
}

.footer-font{
  padding-top:5px;
  color:white;
}

/* トップページ */
.top-start{
  background-size: cover;
  position: relative;
  height:100%;
}

.top-start:before{
  content:image-url("sushi.png");
  text-align: center;
  line-height: 750px;
  position: absolute;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:1000;
}

.top-title{
  height: 500px;
}

.top-notices-background{
  background: rgba(0, 0, 0, 0.3);
  height: 450px;
  padding: 10px;
}

.top-notice-font{
  text-align: center;
}

.top-notice-font2{
  color:white;
  font-size: 15px;
}

a.top-notice-link{
  color:#fff;
  text-align: center;
}

a.top-notice-link2{
  color: white;
  font-size: 20px;
}

.top-menus-image1{
  background-image: image-url("image2.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.top-menus-image2{
  background-image: image-url("image4.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.top-menus-image3{
  background-image: image-url("image3.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}
.top-menus-image4{
  background-image: image-url("image7.jpg");
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.top-menus-image5{
  background-color: rgba(0,0,0,0.6);

}

a.top-menu-links{
  text-decoration: none;
}

.top-menus-font{
  text-align: center;
  font-size: 30px;
  line-height: 250px;
  color:white;
}

.top-store-font{
  text-align: center;
}

.top-store-font2{
  text-align: center;
  font-size: 20px;
}
.top-store_title{
  background-image: image-url("image8.jpg");
  background-size: 100% 100%;
  height: 400px;
  border-radius: 30px;
}

#back img {
  width: 40px;
}

/* HP 管理者側 お知らせ */

a.notice-font{
  font-size:25px;
  color:gray;
}

.notice-font2{
  font-size:15px;
  color:black;
}

.notice-font3{
  text-align: center;
  padding-top: 20px;
}

.notice-font4{
  text-align: center;
  color:gray;
}

.notice-font5{
  width:100%;
  word-wrap:break-word;
  font-size: 20px;
}

a.notice-link{
  color: #696969;
}

.notice-link2{
  text-align: right;
  padding: 20px 0;
}

.notice-link3{
  text-align: left;
  padding: 20px 0;
}

a.notice-link4{
  color: #696969;
  font-size:20px;
}

.notice-table{
  border: 0px none;
  table-layout:fixed;
  width:100%;
}

.table > tbody > tr > td{
  border-top: 0px none;
}

.notice-table-border2{
  border: 0px none;
  border-collapse: separate;
  font-size:20px;
}

/* HP こだわり */

.kodawari-title{
  background-image: image-url("image9.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.kodawari-title-font{
  text-align: center;
  color: white;
  line-height: 400px;
  font-size:50px;
  margin: 0;
}


#box3 {
  display: none;
  width: 50%;
  line-height: 400px;
}
#box4 {
  display: none;
  width: 50%;
  line-height: 400px;
}

.kodawari-image{
  background-image: image-url("image10.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 1000px;
}

.kodawari-image2{
  background-image: image-url("image11.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 1000px;
}

.kodawari-logo{
  padding-bottom: 5px;
}


.kodawari-font{
padding:10px 20px 0 20px;
}

.kodawari-font2{
padding:10px 20px 0 20px;
color: #DA8E00;//非対応のブラウザでの文字色を設定
background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);//背景色にグラデーションを指定degは文字の向きこの場合は斜め、0degはますっぐ横に,上からはtopになる
-webkit-background-clip: text;//テキストでくり抜く
-webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
}

/* 管理者側 HP 予約 */

.reservation-title{
  text-align: center;
}

.reservation-font{
  text-align: center;
  line-height: 200px;
}

.reservation-table-border{
  border: 0px none;
  border-collapse: separate;
  width: 100%;
}

.reservation-table-font{
  font-size:20px;
}

.reservation_form{
  text-align: center;
}

.reservation_form button{
  float:left;
  width:50%;
}

.background-image4{
  background-image: image-url("background4.jpg");
  height: 400px;
}

.reservation-table{
  font-size:20px;
  table-layout:fixed;
  width:100%;
}

.reservation-request{
  word-wrap:break-word;
}

.reservation-from{
  width: 100%;
  height:30px;
}


/* カレンダー */
.fc-unthemed td{
  border-color: black;
}

.fc-unthemed th{
  border-color: black;
}

.fc-unthemed td.fc-today{
	background: lime;
}
.selected-date{
	background-color: lime;
}

.fc-past{
  background-color: rgba(0,0,0,0.4);
}

.fc-sun{
  background-color: red;
}

/* HP お品書き */

.menus-nav-item {
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  font-size: 20px;
}

#menus-nav-font{
  color: black;
}

.menus-title-image{
  background-image: image-url("image1.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.menus-title-font{
  text-align: center;
  color: white;
  line-height: 400px;
  font-size:50px;
  margin: 0;
}

.menus-title{
  color: white;
}

.menus-font{
  padding:20px 20px 0 20px;
}

.menus-font2{
  padding:10px 20px 0 20px;
}

.menus-font3{
  padding:20px 0 10px 0;
}

.menus-logo{
  padding-bottom: 5px;
}

.menus-image1{
  background-image: image-url("background3.jpg");
  float: left;
  width: 50%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.menus-image2{
  background-image: image-url("background3.jpg");
  width: 100%;
  height: 1200px;
  background-size: cover;
  background-position: center;
}
.menus-image3{
  background-image: image-url("image4.jpg");
  width: 100%;
  height: 300px;
  border-radius: 35px;
}

/* 店舗案内 */

.store-title{
  background-image: image-url("image8.jpg");
  background-size: 100% 100%;
  height: 400px;
}

.store-title-font{
  text-align: center;
  color: white;
  line-height: 400px;
  font-size:50px;
  margin: 0;
}

.store-font{
  padding:10px 0;
}

/* 管理者 ログイン画面 */
.background-image3{
  background-image: image-url("background4.jpg");
  height: 500px;
}

.logn_in-font{
  padding:5px 0;
}

/* アバウトページ */

.box1{
  background-color:white;
  width: 100%;
  height:350px;
  border-radius: 20px;
  float:left;
}

.box2{
  background-color:white;
  width: 100%;
  height:350px;
  border-radius: 20px;
  float:left;
}
.box3{
  background-color:white;
  width: 100%;
  height:350px;
  border-radius: 20px;
  float:left;
}

.box4{
  background-color:white;
  width: 100%;
  height:350px;
  border-radius: 20px;
}

.about-text{
 text-align:left;
 padding: 30px 0;
 }

.about-font{
 padding:5px;
 }

.about-font2{
 padding-top:10px;
 }

.about-font3{
 padding-top:20px;
 }
